@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #bf30ee;
  --secondary-color: #f3e6f5;
}

.main-container {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}
